<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
<div class="page-title">
    <h3>Football Team</h3>
    <p class="text-subtitle text-muted">Football team information</p>
    
</div>
	<div class="container">
				
<section class="section">
    <div class="row mb-4">
        <div class="col-md-12">
      
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">List of Players </h4>
                    
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <tr>
                                <th>Player Name</th>
                                <th>Age </th>
                                <th>Nationality</th>
                                <th>salaire</th>
                              
                                
                            </tr>
                            </thead>
                            <tbody>
                 	<tr th:each="p:${pageplyer.content}">

						<td th:text="${p.name}"></td>
						<td th:text="${p.age}"></td>
						<td th:text="${p.nationality}"></td>
						<td th:text="${p.salaire}"></td>						
 						
											
				
                            </tbody>
                        </table>
                        	<div class="container">
                        	
				<ul class="nav nav-pills">
				
			<label>Pages: &nbsp;&nbsp; </label> 
				<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
				 <a th:text="${p}"	th:href="@{tableTeams(page =${p})}"></a>
							        
					
				</li>	
			</ul>
		</div>
                    </div>
                </div>
            </div>

</div>



</div></section></div>
       

</body>
</html>